body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;}
.orange-color{
    color: rgb(31, 93, 163);
}
#animation_text{
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: ease;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}
section{
    display: flex;
}
.half-wight{
    width: 50%;
    padding: 2%;
}
.half-wight img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(31, 93, 163),black );
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


